In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import scipy.stats as st
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import datetime

In [2]:
# Read country file and store into Pandas data frame
land_temp_by_country_csv = "../../ProjectOne_datasets/GlobalLandTemperaturesByCountry.csv"
land_temp_by_country_df = pd.read_csv(land_temp_by_country_csv)
land_temp_by_country_df.tail()

,dt,AverageTemperature,AverageTemperatureUncertainty,Country
577457,2013-05-01,19.059,1.022,Zimbabwe
577458,2013-06-01,17.613,0.473,Zimbabwe
577459,2013-07-01,17.000,0.453,Zimbabwe
577460,2013-08-01,19.759,0.717,Zimbabwe
577461,2013-09-01,NaN,NaN,Zimbabwe

In [3]:
#Load Population Growth by Country dataset
population_growth_country_csv = "../../ProjectOne_datasets/population-by-country.csv"
population_growth_country_df = pd.read_csv(population_growth_country_csv)
population_growth_country_df.tail()

#Rename Column for World Population data
population_growth_country_df = population_growth_country_df.rename(columns={"Population by Country (Clio Infra (2016))":"Population",
                                                                           "Entity":"Country"})
population_growth_country_df.head()

       Country Code  Year  Population
0  Afghanistan  AFG  1500   2000000.0
1  Afghanistan  AFG  1600   2500000.0
2  Afghanistan  AFG  1700   2500000.0
3  Afghanistan  AFG  1800   3280000.0
4  Afghanistan  AFG  1820   3280000.0

In [4]:
print(f"Country Data Size: {len(land_temp_by_country_df)}")

Country Data Size: 577462

In [5]:
# Cleanup Datasets
#Drop AverageTemperatureUncertainty
land_temp_by_country_df = land_temp_by_country_df.drop(["AverageTemperatureUncertainty"], axis=1)

#Remove rows with null temperatures
land_temp_by_country_df = land_temp_by_country_df[land_temp_by_country_df["AverageTemperature"].notna()]

print(f"Country Data Size: {len(land_temp_by_country_df)}")

Country Data Size: 544811

In [6]:
#Retrieve rows for the last century
cent_land_temp_by_country_df = land_temp_by_country_df.loc[land_temp_by_country_df["dt"] >= "1900-01-01"]

print(f"Country Size: {len(cent_land_temp_by_country_df)}")

Country Size: 328818

In [7]:
cent_land_temp_by_country_df.dtypes

dt                     object
AverageTemperature    float64
Country                object
dtype: object

In [8]:
global countries_temperatures_df 
columns = ["Decade", "Land Temperature", "Country"]
countries_temperatures_df = pd.DataFrame(columns = columns)

def get_surface_temps_by_country(country):
    global countries_temperatures_df 
    temp_df = cent_land_temp_by_country_df.loc[land_temp_by_country_df["Country"]==country]
    temp_df = temp_df.groupby((pd.DatetimeIndex(temp_df["dt"]).year//10)*10).mean()
    temp_df["Country"] = country

    #Reset index, and rename columns appropriately
    temp_df.reset_index(inplace=True)
    temp_df = temp_df.rename(columns = {'dt':'Decade'})
    temp_df = temp_df.rename(columns = {'AverageTemperature':'Land Temperature'})
    temp_df = temp_df.loc[temp_df["Decade"] != 2010]
    temp_df
    countries_temperatures_df = pd.concat([countries_temperatures_df, temp_df], axis=0)

In [9]:
global countries_population_df 
columns = ["Decade", "Population", "Country"]
countries_population_df = pd.DataFrame(columns = columns)

def get_population_by_country(country):
    global countries_population_df 
    
    temp_df = population_growth_country_df.loc[population_growth_country_df["Country"] == country]
    temp_df = temp_df.loc[temp_df["Year"] >= 1900]
    temp_df = temp_df.rename(columns = {'Year':'Decade'})
    temp_df = temp_df.drop(["Code"], axis=1)
    countries_population_df = pd.concat([countries_population_df, temp_df], axis=0)

In [11]:
list_of_countries = ["United States", "China", "Brazil", "Denmark", "India"]

for country in list_of_countries:
    get_surface_temps_by_country(country)
    get_population_by_country(country)

print(f"Temperature lenght: {len(countries_temperatures_df)}")
print(f"Temperature lenght: {len(countries_population_df)}")

Temperature lenght: 55
Temperature lenght: 55

In [12]:
#Final cleansed and merged datasets
final_df = pd.merge(countries_temperatures_df, countries_population_df, on=["Decade", "Country"])

# final_df = final_df.drop(["Code"], axis=1)
# final_df = final_df.drop(["Country_y"], axis=1)
# final_df = final_df.rename(columns = {'Country_x':'Country'})

print(f"Merged Data Set lenght: {len(final_df)}") 
print(final_df)

Merged Data Set lenght: 55
   Decade  Land Temperature        Country    Population
0    1900          8.448225  United States  7.639100e+07
1    1910          8.460250  United States  9.276700e+07
2    1920          8.755250  United States  1.068810e+08
3    1930          9.086992  United States  1.236680e+08
4    1940          8.924092  United States  1.326370e+08
5    1950          8.913233  United States  1.522710e+08
6    1960          8.721917  United States  1.806710e+08
7    1970          8.696925  United States  2.050520e+08
8    1980          9.104308  United States  2.277265e+08
9    1990          9.317558  United States  2.501319e+08
10   2000          9.646725  United States  2.821580e+08
11   1900          6.320558          China  4.000000e+08
12   1910          6.320958          China  4.230000e+08
13   1920          6.621258          China  4.720000e+08
14   1930          6.590158          China  4.890000e+08
15   1940          7.002717          China  5.187700e+08
16   1950          6.700717          China  5.468150e+08
17   1960          6.779125          China  6.670700e+08
18   1970          6.864350          China  8.183150e+08
19   1980          6.978925          China  9.818610e+08
20   1990          7.344067          China  1.135185e+09
21   2000          7.672875          China  1.262645e+09
22   1900         24.548292         Brazil  1.798400e+07
23   1910         24.518492         Brazil  2.221600e+07
24   1920         24.580733         Brazil  2.740400e+07
25   1930         24.864225         Brazil  3.356800e+07
26   1940         24.851642         Brazil  4.111400e+07
27   1950         24.872300         Brazil  5.344308e+07
28   1960         24.964500         Brazil  7.169481e+07
29   1970         24.904792         Brazil  9.568430e+07
30   1980         25.153125         Brazil  1.230200e+08
31   1990         25.432500         Brazil  1.511700e+08
32   2000         25.562067         Brazil  1.763200e+08
33   1900        -18.434150        Denmark  2.561000e+06
34   1910        -18.668892        Denmark  2.882000e+06
35   1920        -17.723417        Denmark  3.242000e+06
36   1930        -16.741108        Denmark  3.542000e+06
37   1940        -17.329067        Denmark  3.832000e+06
38   1950        -17.692283        Denmark  4.271000e+06
39   1960        -17.709950        Denmark  4.581000e+06
40   1970        -18.206133        Denmark  4.928757e+06
41   1980        -18.089608        Denmark  5.123027e+06
42   1990        -17.777908        Denmark  5.140954e+06
43   2000        -16.507792        Denmark  5.337416e+06
44   1900         23.877975          India  2.845000e+08
45   1910         23.774050          India  3.021000e+08
46   1920         23.945842          India  3.056000e+08
47   1930         23.868242          India  3.364000e+08
48   1940         24.086283          India  3.868000e+08
49   1950         24.179567          India  3.590000e+08
50   1960         24.104092          India  4.340000e+08
51   1970         24.145417          India  5.410000e+08
52   1980         24.362283          India  6.790000e+08
53   1990         24.374717          India  8.390000e+08
54   2000         24.670750          India  1.004124e+09

In [13]:
#Reorganize the column names for ease of redability
column_names = ["Country", "Decade", "Land Temperature", "Population"]
final_df = final_df.reindex(columns=column_names)
final_df

          Country Decade  Land Temperature    Population
0   United States   1900          8.448225  7.639100e+07
1   United States   1910          8.460250  9.276700e+07
2   United States   1920          8.755250  1.068810e+08
3   United States   1930          9.086992  1.236680e+08
4   United States   1940          8.924092  1.326370e+08
5   United States   1950          8.913233  1.522710e+08
6   United States   1960          8.721917  1.806710e+08
7   United States   1970          8.696925  2.050520e+08
8   United States   1980          9.104308  2.277265e+08
9   United States   1990          9.317558  2.501319e+08
10  United States   2000          9.646725  2.821580e+08
11          China   1900          6.320558  4.000000e+08
12          China   1910          6.320958  4.230000e+08
13          China   1920          6.621258  4.720000e+08
14          China   1930          6.590158  4.890000e+08
15          China   1940          7.002717  5.187700e+08
16          China   1950          6.700717  5.468150e+08
17          China   1960          6.779125  6.670700e+08
18          China   1970          6.864350  8.183150e+08
19          China   1980          6.978925  9.818610e+08
20          China   1990          7.344067  1.135185e+09
21          China   2000          7.672875  1.262645e+09
22         Brazil   1900         24.548292  1.798400e+07
23         Brazil   1910         24.518492  2.221600e+07
24         Brazil   1920         24.580733  2.740400e+07
25         Brazil   1930         24.864225  3.356800e+07
26         Brazil   1940         24.851642  4.111400e+07
27         Brazil   1950         24.872300  5.344308e+07
28         Brazil   1960         24.964500  7.169481e+07
29         Brazil   1970         24.904792  9.568430e+07
30         Brazil   1980         25.153125  1.230200e+08
31         Brazil   1990         25.432500  1.511700e+08
32         Brazil   2000         25.562067  1.763200e+08
33        Denmark   1900        -18.434150  2.561000e+06
34        Denmark   1910        -18.668892  2.882000e+06
35        Denmark   1920        -17.723417  3.242000e+06
36        Denmark   1930        -16.741108  3.542000e+06
37        Denmark   1940        -17.329067  3.832000e+06
38        Denmark   1950        -17.692283  4.271000e+06
39        Denmark   1960        -17.709950  4.581000e+06
40        Denmark   1970        -18.206133  4.928757e+06
41        Denmark   1980        -18.089608  5.123027e+06
42        Denmark   1990        -17.777908  5.140954e+06
43        Denmark   2000        -16.507792  5.337416e+06
44          India   1900         23.877975  2.845000e+08
45          India   1910         23.774050  3.021000e+08
46          India   1920         23.945842  3.056000e+08
47          India   1930         23.868242  3.364000e+08
48          India   1940         24.086283  3.868000e+08
49          India   1950         24.179567  3.590000e+08
50          India   1960         24.104092  4.340000e+08
51          India   1970         24.145417  5.410000e+08
52          India   1980         24.362283  6.790000e+08
53          India   1990         24.374717  8.390000e+08
54          India   2000         24.670750  1.004124e+09

In [14]:
# Push the remade DataFrame to a new CSV file
final_df.to_csv("../Output/USA_Dataset.csv",
                  encoding="utf-8", index=False, header=True)