In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import scipy.stats as st
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import datetime

In [2]:
# Read Global Temperatures by Country file and store into Pandas data frame
land_temp_by_country_csv = "../../ProjectOne_datasets/GlobalLandTemperaturesByCountry.csv"
land_temp_by_country_df = pd.read_csv(land_temp_by_country_csv)
land_temp_by_country_df.tail()

,dt,AverageTemperature,AverageTemperatureUncertainty,Country
577457,2013-05-01,19.059,1.022,Zimbabwe
577458,2013-06-01,17.613,0.473,Zimbabwe
577459,2013-07-01,17.000,0.453,Zimbabwe
577460,2013-08-01,19.759,0.717,Zimbabwe
577461,2013-09-01,NaN,NaN,Zimbabwe

In [3]:
# Read Population Growth by Country file and store into Pandas data frame
population_growth_country_csv = "../../ProjectOne_datasets/population-by-country.csv"
population_growth_country_df = pd.read_csv(population_growth_country_csv)
population_growth_country_df.tail()

#Rename Column for World Population data
population_growth_country_df = population_growth_country_df.rename(columns={"Population by Country (Clio Infra (2016))":"Population",
                                                                           "Entity":"Country"})
population_growth_country_df.head()

       Country Code  Year  Population
0  Afghanistan  AFG  1500   2000000.0
1  Afghanistan  AFG  1600   2500000.0
2  Afghanistan  AFG  1700   2500000.0
3  Afghanistan  AFG  1800   3280000.0
4  Afghanistan  AFG  1820   3280000.0

In [4]:
#Load CO2 Emissions Growth by Country file and store into Pandas data frame
co2_country_csv = "../../ProjectOne_datasets/annual-co-emissions-by-region.csv"
co2_country_df = pd.read_csv(co2_country_csv)
co2_country_df.tail()

#Rename Column 
co2_country_df = co2_country_df.rename(columns={"Entity":"Country"})
co2_country_df.head()

       Country Code  Year  Annual CO2 emissions
0  Afghanistan  AFG  1750                   0.0
1  Afghanistan  AFG  1751                   0.0
2  Afghanistan  AFG  1752                   0.0
3  Afghanistan  AFG  1753                   0.0
4  Afghanistan  AFG  1754                   0.0

In [5]:
# Cleanup Land Temperature Datasets
########################################

#Drop AverageTemperatureUncertainty
land_temp_by_country_df = land_temp_by_country_df.drop(["AverageTemperatureUncertainty"], axis=1)

#Remove rows with null temperatures
land_temp_by_country_df = land_temp_by_country_df[land_temp_by_country_df["AverageTemperature"].notna()]

print(f"Country Data Size: {len(land_temp_by_country_df)}")

Country Data Size: 544811

In [6]:
#Retrieve rows for the last century
cent_land_temp_by_country_df = land_temp_by_country_df.loc[land_temp_by_country_df["dt"] >= "1900-01-01"]
clean_co2_df=co2_country_df.loc[co2_country_df['Year'] >= 1900]

In [14]:
#For CO2 Emissions, add bins and cut based on group names
bins = [1900, 1910, 1920, 1930, 1940, 1950, 1960, 1970, 1980, 1990, 2000, 2010]
group_names = ["1900", "1910", "1920", "1930", "1940", "1950", "1960", "1970", "1980", "1990", "2000"]

clean_co2_df["Decade"] = pd.cut(clean_co2_df["Year"], bins, labels=group_names, include_lowest=True)

decade_co2 = clean_co2_df.groupby(['Decade', 'Country']).agg({'Annual CO2 emissions': ['mean']})
decade_co2

<ipython-input-14-ece354d1fadf>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_co2_df["Decade"] = pd.cut(clean_co2_df["Year"], bins, labels=group_names, include_lowest=True)

                                 Annual CO2 emissions
                                                 mean
Decade Country
1900   Afghanistan                       0.000000e+00
       Africa                            9.998390e+06
       Albania                           0.000000e+00
       Algeria                           0.000000e+00
       Andorra                           0.000000e+00
...                                               ...
2000   Wallis and Futuna Islands         2.601440e+04
       World                             2.945115e+10
       Yemen                             1.983259e+07
       Zambia                            2.144057e+06
       Zimbabwe                          9.640064e+06

[2574 rows x 1 columns]

In [15]:
global countries_temperatures_df 
columns = ["Decade", "Land Temperature", "Country"]
countries_temperatures_df = pd.DataFrame(columns = columns)

def get_surface_temps_by_country(country):
    global countries_temperatures_df 
    temp_df = cent_land_temp_by_country_df.loc[land_temp_by_country_df["Country"]==country]
    temp_df = temp_df.groupby((pd.DatetimeIndex(temp_df["dt"]).year//10)*10).mean()
    temp_df["Country"] = country

    #Reset index, and rename columns appropriately
    temp_df.reset_index(inplace=True)
    temp_df = temp_df.rename(columns = {'dt':'Decade'})
    temp_df = temp_df.rename(columns = {'AverageTemperature':'Land Temperature'})
    temp_df = temp_df.loc[temp_df["Decade"] != 2010]
    temp_df
    countries_temperatures_df = pd.concat([countries_temperatures_df, temp_df], axis=0)

In [16]:
global countries_population_df 
columns = ["Decade", "Population", "Country"]
countries_population_df = pd.DataFrame(columns = columns)

def get_population_by_country(country):
    global countries_population_df 
    
    temp_df = population_growth_country_df.loc[population_growth_country_df["Country"] == country]
    temp_df = temp_df.loc[temp_df["Year"] >= 1900]
    temp_df = temp_df.rename(columns = {'Year':'Decade'})
    temp_df = temp_df.drop(["Code"], axis=1)
    countries_population_df = pd.concat([countries_population_df, temp_df], axis=0)

In [17]:
list_of_countries = ["United States", "China", "Brazil", "Denmark", "India"]

for country in list_of_countries:
    get_surface_temps_by_country(country)
    get_population_by_country(country)

In [18]:
idx = pd.IndexSlice
countries_CO2_df=decade_co2.loc[idx[:,list_of_countries], :]

print(f"Temperature lenght: {len(countries_temperatures_df)}")
print(f"Temperature lenght: {len(countries_population_df)}")     

countries_CO2_df.reset_index(drop=True)
countries_CO2_df.columns.droplevel()
countries_CO2_df

Temperature lenght: 55
Temperature lenght: 55

                     Annual CO2 emissions
                                     mean
Decade Country
1900   United States         9.697364e+08
1910   United States         1.493924e+09
1920   United States         1.753823e+09
1930   United States         1.556552e+09
1940   United States         2.330513e+09
1950   United States         2.710035e+09
1960   United States         3.504613e+09
1970   United States         4.650222e+09
1980   United States         4.625146e+09
1990   United States         5.527101e+09
2000   United States         5.937367e+09
1900   China                 9.337537e+06
1910   China                 1.894691e+07
1920   China                 3.233252e+07
1930   China                 5.617787e+07
1940   China                 6.930560e+07
1950   China                 3.210146e+08
1960   China                 5.103803e+08
1970   China                 1.179237e+09
1980   China                 1.982188e+09
1990   China                 3.099855e+09
2000   China                 5.943200e+09
1900   Brazil                2.775313e+06
1910   Brazil                3.790042e+06
1920   Brazil                5.110804e+06
1930   Brazil                5.295289e+06
1940   Brazil                8.262202e+06
1950   Brazil                3.330168e+07
1960   Brazil                6.565488e+07
1970   Brazil                1.507154e+08
1980   Brazil                1.883839e+08
1990   Brazil                2.685593e+08
2000   Brazil                3.504233e+08
1900   Denmark               6.263108e+06
1910   Denmark               8.861384e+06
1920   Denmark               1.153149e+07
1930   Denmark               1.488394e+07
1940   Denmark               1.838537e+07
1950   Denmark               2.544596e+07
1960   Denmark               4.704594e+07
1970   Denmark               5.929522e+07
1980   Denmark               5.412677e+07
1990   Denmark               6.237448e+07
2000   Denmark               5.418229e+07
1900   India                 1.837390e+07
1910   India                 3.359210e+07
1920   India                 3.997993e+07
1930   India                 4.299928e+07
1940   India                 5.311746e+07
1950   India                 8.345108e+07
1960   India                 1.542900e+08
1970   India                 2.392040e+08
1980   India                 4.248835e+08
1990   India                 7.924028e+08
2000   India                 1.275682e+09

In [20]:
#Final cleansed and merged datasets
final_population_land_temps_df = pd.merge(countries_temperatures_df, countries_population_df, on=["Decade", "Country"])

print(f"Merged Data Set lenght: {len(final_population_land_temps_df)}") 
final_population_land_temps_df

Merged Data Set lenght: 55

   Decade  Land Temperature        Country    Population
0    1900          8.448225  United States  7.639100e+07
1    1910          8.460250  United States  9.276700e+07
2    1920          8.755250  United States  1.068810e+08
3    1930          9.086992  United States  1.236680e+08
4    1940          8.924092  United States  1.326370e+08
5    1950          8.913233  United States  1.522710e+08
6    1960          8.721917  United States  1.806710e+08
7    1970          8.696925  United States  2.050520e+08
8    1980          9.104308  United States  2.277265e+08
9    1990          9.317558  United States  2.501319e+08
10   2000          9.646725  United States  2.821580e+08
11   1900          6.320558          China  4.000000e+08
12   1910          6.320958          China  4.230000e+08
13   1920          6.621258          China  4.720000e+08
14   1930          6.590158          China  4.890000e+08
15   1940          7.002717          China  5.187700e+08
16   1950          6.700717          China  5.468150e+08
17   1960          6.779125          China  6.670700e+08
18   1970          6.864350          China  8.183150e+08
19   1980          6.978925          China  9.818610e+08
20   1990          7.344067          China  1.135185e+09
21   2000          7.672875          China  1.262645e+09
22   1900         24.548292         Brazil  1.798400e+07
23   1910         24.518492         Brazil  2.221600e+07
24   1920         24.580733         Brazil  2.740400e+07
25   1930         24.864225         Brazil  3.356800e+07
26   1940         24.851642         Brazil  4.111400e+07
27   1950         24.872300         Brazil  5.344308e+07
28   1960         24.964500         Brazil  7.169481e+07
29   1970         24.904792         Brazil  9.568430e+07
30   1980         25.153125         Brazil  1.230200e+08
31   1990         25.432500         Brazil  1.511700e+08
32   2000         25.562067         Brazil  1.763200e+08
33   1900        -18.434150        Denmark  2.561000e+06
34   1910        -18.668892        Denmark  2.882000e+06
35   1920        -17.723417        Denmark  3.242000e+06
36   1930        -16.741108        Denmark  3.542000e+06
37   1940        -17.329067        Denmark  3.832000e+06
38   1950        -17.692283        Denmark  4.271000e+06
39   1960        -17.709950        Denmark  4.581000e+06
40   1970        -18.206133        Denmark  4.928757e+06
41   1980        -18.089608        Denmark  5.123027e+06
42   1990        -17.777908        Denmark  5.140954e+06
43   2000        -16.507792        Denmark  5.337416e+06
44   1900         23.877975          India  2.845000e+08
45   1910         23.774050          India  3.021000e+08
46   1920         23.945842          India  3.056000e+08
47   1930         23.868242          India  3.364000e+08
48   1940         24.086283          India  3.868000e+08
49   1950         24.179567          India  3.590000e+08
50   1960         24.104092          India  4.340000e+08
51   1970         24.145417          India  5.410000e+08
52   1980         24.362283          India  6.790000e+08
53   1990         24.374717          India  8.390000e+08
54   2000         24.670750          India  1.004124e+09

In [22]:
#Reorganize the column names for ease of redability
column_names = ["Decade", "Country", "Land Temperature", "Population"]
final_population_land_temps_df = final_population_land_temps_df.reindex(columns=column_names)
final_population_land_temps_df.set_index(["Decade", "Country"])
final_population_land_temps_df

   Decade        Country  Land Temperature    Population
0    1900  United States          8.448225  7.639100e+07
1    1910  United States          8.460250  9.276700e+07
2    1920  United States          8.755250  1.068810e+08
3    1930  United States          9.086992  1.236680e+08
4    1940  United States          8.924092  1.326370e+08
5    1950  United States          8.913233  1.522710e+08
6    1960  United States          8.721917  1.806710e+08
7    1970  United States          8.696925  2.050520e+08
8    1980  United States          9.104308  2.277265e+08
9    1990  United States          9.317558  2.501319e+08
10   2000  United States          9.646725  2.821580e+08
11   1900          China          6.320558  4.000000e+08
12   1910          China          6.320958  4.230000e+08
13   1920          China          6.621258  4.720000e+08
14   1930          China          6.590158  4.890000e+08
15   1940          China          7.002717  5.187700e+08
16   1950          China          6.700717  5.468150e+08
17   1960          China          6.779125  6.670700e+08
18   1970          China          6.864350  8.183150e+08
19   1980          China          6.978925  9.818610e+08
20   1990          China          7.344067  1.135185e+09
21   2000          China          7.672875  1.262645e+09
22   1900         Brazil         24.548292  1.798400e+07
23   1910         Brazil         24.518492  2.221600e+07
24   1920         Brazil         24.580733  2.740400e+07
25   1930         Brazil         24.864225  3.356800e+07
26   1940         Brazil         24.851642  4.111400e+07
27   1950         Brazil         24.872300  5.344308e+07
28   1960         Brazil         24.964500  7.169481e+07
29   1970         Brazil         24.904792  9.568430e+07
30   1980         Brazil         25.153125  1.230200e+08
31   1990         Brazil         25.432500  1.511700e+08
32   2000         Brazil         25.562067  1.763200e+08
33   1900        Denmark        -18.434150  2.561000e+06
34   1910        Denmark        -18.668892  2.882000e+06
35   1920        Denmark        -17.723417  3.242000e+06
36   1930        Denmark        -16.741108  3.542000e+06
37   1940        Denmark        -17.329067  3.832000e+06
38   1950        Denmark        -17.692283  4.271000e+06
39   1960        Denmark        -17.709950  4.581000e+06
40   1970        Denmark        -18.206133  4.928757e+06
41   1980        Denmark        -18.089608  5.123027e+06
42   1990        Denmark        -17.777908  5.140954e+06
43   2000        Denmark        -16.507792  5.337416e+06
44   1900          India         23.877975  2.845000e+08
45   1910          India         23.774050  3.021000e+08
46   1920          India         23.945842  3.056000e+08
47   1930          India         23.868242  3.364000e+08
48   1940          India         24.086283  3.868000e+08
49   1950          India         24.179567  3.590000e+08
50   1960          India         24.104092  4.340000e+08
51   1970          India         24.145417  5.410000e+08
52   1980          India         24.362283  6.790000e+08
53   1990          India         24.374717  8.390000e+08
54   2000          India         24.670750  1.004124e+09

In [27]:
# Push the remade DataFrame to a new CSV file
final_population_land_temps_df.to_csv("../Output/Population_SurfaceTemps_By_Country.csv",
                  encoding="utf-8", index=False, header=True)

countries_CO2_df.to_csv("../Output/CO2Emissions_By_Country.csv",
                  encoding="utf-8", index=True, header=True)