In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import scipy.stats as st
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import datetime

In [2]:
# Read Global Temperatures by Country file and store into Pandas data frame
land_temp_by_country_csv = "../../ProjectOne_datasets/GlobalLandTemperaturesByCountry.csv"
land_temp_by_country_df = pd.read_csv(land_temp_by_country_csv)
land_temp_by_country_df.tail()

,dt,AverageTemperature,AverageTemperatureUncertainty,Country
577457,2013-05-01,19.059,1.022,Zimbabwe
577458,2013-06-01,17.613,0.473,Zimbabwe
577459,2013-07-01,17.000,0.453,Zimbabwe
577460,2013-08-01,19.759,0.717,Zimbabwe
577461,2013-09-01,NaN,NaN,Zimbabwe

In [3]:
# Read Population Growth by Country file and store into Pandas data frame
population_growth_country_csv = "../../ProjectOne_datasets/population-by-country.csv"
population_growth_country_df = pd.read_csv(population_growth_country_csv)
population_growth_country_df.tail()

#Rename Column for World Population data
population_growth_country_df = population_growth_country_df.rename(columns={"Population by Country (Clio Infra (2016))":"Population",
                                                                           "Entity":"Country"})
population_growth_country_df.head()

       Country Code  Year  Population
0  Afghanistan  AFG  1500   2000000.0
1  Afghanistan  AFG  1600   2500000.0
2  Afghanistan  AFG  1700   2500000.0
3  Afghanistan  AFG  1800   3280000.0
4  Afghanistan  AFG  1820   3280000.0

In [4]:
#Load CO2 Emissions Growth by Country file and store into Pandas data frame
co2_country_csv = "../../ProjectOne_datasets/annual-co-emissions-by-region.csv"
co2_country_df = pd.read_csv(co2_country_csv)
co2_country_df.tail()

#Rename Column 
co2_country_df = co2_country_df.rename(columns={"Entity":"Country"})
co2_country_df.head()

       Country Code  Year  Annual CO2 emissions
0  Afghanistan  AFG  1750                   0.0
1  Afghanistan  AFG  1751                   0.0
2  Afghanistan  AFG  1752                   0.0
3  Afghanistan  AFG  1753                   0.0
4  Afghanistan  AFG  1754                   0.0

In [5]:
# Cleanup Land Temperature Datasets
########################################

#Drop AverageTemperatureUncertainty
land_temp_by_country_df = land_temp_by_country_df.drop(["AverageTemperatureUncertainty"], axis=1)

#Remove rows with null temperatures
land_temp_by_country_df = land_temp_by_country_df[land_temp_by_country_df["AverageTemperature"].notna()]

print(f"Country Data Size: {len(land_temp_by_country_df)}")

Country Data Size: 544811

In [6]:
#Retrieve rows for the last century
cent_land_temp_by_country_df = land_temp_by_country_df.loc[land_temp_by_country_df["dt"] >= "1900-01-01"]
clean_co2_df=co2_country_df.loc[co2_country_df['Year'] >= 1900]

In [7]:
# Function to get Surface Temperatures for given country
global countries_temperatures_df 
columns = ["Decade", "Land Temperature", "Country"]
countries_temperatures_df = pd.DataFrame(columns = columns)

def get_surface_temps_by_country(country):
    global countries_temperatures_df 
    temp_df = cent_land_temp_by_country_df.loc[land_temp_by_country_df["Country"]==country]
    temp_df = temp_df.groupby((pd.DatetimeIndex(temp_df["dt"]).year//10)*10).mean()
    temp_df["Country"] = country

    #Reset index, and rename columns appropriately
    temp_df.reset_index(inplace=True)
    temp_df = temp_df.rename(columns = {'dt':'Decade'})
    temp_df = temp_df.rename(columns = {'AverageTemperature':'Land Temperature'})
    temp_df = temp_df.loc[temp_df["Decade"] != 2010]
    temp_df
    countries_temperatures_df = pd.concat([countries_temperatures_df, temp_df], axis=0)

In [8]:
# Function to get Population for given country
global countries_population_df 
columns = ["Decade", "Population", "Country"]
countries_population_df = pd.DataFrame(columns = columns)

def get_population_by_country(country):
    global countries_population_df 
    
    temp_df = population_growth_country_df.loc[population_growth_country_df["Country"] == country]
    temp_df = temp_df.loc[temp_df["Year"] >= 1900]
    temp_df = temp_df.rename(columns = {'Year':'Decade'})
    temp_df = temp_df.drop(["Code"], axis=1)
    countries_population_df = pd.concat([countries_population_df, temp_df], axis=0)

In [9]:
# Function to get CO2 Emissions for given country
global countries_CO2_df 
columns = ["Decade", "Annual CO2 emissions", "Country"]
countries_CO2_df = pd.DataFrame(columns = columns)

def get_CO2_by_country(country):
    global countries_CO2_df 
    
    temp_df = co2_country_df.loc[co2_country_df["Country"] == country]
    temp_df = temp_df.loc[temp_df["Year"] >= 1900]
    temp_df = temp_df.groupby((temp_df["Year"]//10)*10).mean()
    temp_df["Country"] = country
    
    temp_df = temp_df.rename(columns = {'Year':'Decade'})
    temp_df = temp_df.loc[temp_df["Decade"] != 2010]
    countries_CO2_df = pd.concat([countries_CO2_df, temp_df], axis=0)

In [10]:
#list of countries to operate on
list_of_countries = ["United States", "China", "Brazil", "Denmark", "India"]

for country in list_of_countries:
    get_surface_temps_by_country(country)
    get_population_by_country(country)
    get_CO2_by_country(country)

#clean up CO2 dataframe
countries_CO2_df.reset_index(inplace=True)
countries_CO2_df = countries_CO2_df.drop(["Decade"], axis=1)
countries_CO2_df = countries_CO2_df.rename(columns = {'index':'Decade'})

    Decade  Annual CO2 emissions        Country
0     1900          9.390961e+08  United States
1     1910          1.447061e+09  United States
2     1920          1.754044e+09  United States
3     1930          1.543642e+09  United States
4     1940          2.264069e+09  United States
5     1950          2.674863e+09  United States
6     1960          3.360845e+09  United States
7     1970          4.611101e+09  United States
8     1980          4.583988e+09  United States
9     1990          5.440124e+09  United States
10    2000          5.967369e+09  United States
11    2010          5.437455e+09  United States
12    1900          8.396422e+06          China
13    1910          1.814486e+07          China
14    1920          3.121865e+07          China
15    1930          5.136400e+07          China
16    1940          7.005207e+07          China
17    1950          2.509748e+08          China
18    1960          5.112615e+08          China
19    1970          1.110365e+09          China
20    1980          1.885998e+09          China
21    1990          3.007004e+09          China
22    2000          5.428075e+09          China
23    2010          9.625722e+09          China
24    1900          2.632950e+06         Brazil
25    1910          3.845368e+06         Brazil
26    1920          4.923975e+06         Brazil
27    1930          5.198091e+06         Brazil
28    1940          6.944889e+06         Brazil
29    1950          3.058240e+07         Brazil
30    1960          6.098701e+07         Brazil
31    1970          1.414926e+08         Brazil
32    1980          1.862676e+08         Brazil
33    1990          2.568288e+08         Brazil
34    2000          3.417219e+08         Brazil
35    2010          4.710848e+08         Brazil
36    1900          6.154421e+06        Denmark
37    1910          8.877139e+06        Denmark
38    1920          1.087008e+07        Denmark
39    1930          1.478231e+07        Denmark
40    1940          1.766887e+07        Denmark
41    1950          2.466978e+07        Denmark
42    1960          4.381696e+07        Denmark
43    1970          5.946437e+07        Denmark
44    1980          5.480629e+07        Denmark
45    1990          6.230209e+07        Denmark
46    2000          5.469473e+07        Denmark
47    2010          3.860492e+07        Denmark
48    1900          1.785861e+07          India
49    1910          3.245209e+07          India
50    1920          3.922486e+07          India
51    1930          4.200644e+07          India
52    1940          5.223789e+07          India
53    1950          7.842217e+07          India
54    1960          1.472435e+08          India
55    1970          2.281912e+08          India
56    1980          3.962232e+08          India
57    1990          7.524288e+08          India
58    2000          1.205677e+09          India
59    2010          2.191411e+09          India

In [11]:
#Final cleansed and merged datasets
final_population_land_temps_df = pd.merge(countries_temperatures_df, countries_population_df, on=["Decade", "Country"])
final_df = pd.merge(final_population_land_temps_df, countries_CO2_df, on=["Decade", "Country"])
final_df = final_df.rename(columns = {"Annual CO2 emissions":"Annual CO2 Emissions"})
print(f"Merged Data Set lenght: {len(final_population_land_temps_df)}")

Merged Data Set lenght: 55

In [12]:
#Reorganize the column names for ease of redability
column_names = ["Decade", "Country", "Land Temperature", "Population", "Annual CO2 Emissions"]
final_df = final_df.reindex(columns=column_names)
final_df

   Decade        Country  Land Temperature    Population  Annual CO2 Emissions
0    1900  United States          8.448225  7.639100e+07          9.390961e+08
1    1910  United States          8.460250  9.276700e+07          1.447061e+09
2    1920  United States          8.755250  1.068810e+08          1.754044e+09
3    1930  United States          9.086992  1.236680e+08          1.543642e+09
4    1940  United States          8.924092  1.326370e+08          2.264069e+09
5    1950  United States          8.913233  1.522710e+08          2.674863e+09
6    1960  United States          8.721917  1.806710e+08          3.360845e+09
7    1970  United States          8.696925  2.050520e+08          4.611101e+09
8    1980  United States          9.104308  2.277265e+08          4.583988e+09
9    1990  United States          9.317558  2.501319e+08          5.440124e+09
10   2000  United States          9.646725  2.821580e+08          5.967369e+09
11   1900          China          6.320558  4.000000e+08          8.396422e+06
12   1910          China          6.320958  4.230000e+08          1.814486e+07
13   1920          China          6.621258  4.720000e+08          3.121865e+07
14   1930          China          6.590158  4.890000e+08          5.136400e+07
15   1940          China          7.002717  5.187700e+08          7.005207e+07
16   1950          China          6.700717  5.468150e+08          2.509748e+08
17   1960          China          6.779125  6.670700e+08          5.112615e+08
18   1970          China          6.864350  8.183150e+08          1.110365e+09
19   1980          China          6.978925  9.818610e+08          1.885998e+09
20   1990          China          7.344067  1.135185e+09          3.007004e+09
21   2000          China          7.672875  1.262645e+09          5.428075e+09
22   1900         Brazil         24.548292  1.798400e+07          2.632950e+06
23   1910         Brazil         24.518492  2.221600e+07          3.845368e+06
24   1920         Brazil         24.580733  2.740400e+07          4.923975e+06
25   1930         Brazil         24.864225  3.356800e+07          5.198091e+06
26   1940         Brazil         24.851642  4.111400e+07          6.944889e+06
27   1950         Brazil         24.872300  5.344308e+07          3.058240e+07
28   1960         Brazil         24.964500  7.169481e+07          6.098701e+07
29   1970         Brazil         24.904792  9.568430e+07          1.414926e+08
30   1980         Brazil         25.153125  1.230200e+08          1.862676e+08
31   1990         Brazil         25.432500  1.511700e+08          2.568288e+08
32   2000         Brazil         25.562067  1.763200e+08          3.417219e+08
33   1900        Denmark        -18.434150  2.561000e+06          6.154421e+06
34   1910        Denmark        -18.668892  2.882000e+06          8.877139e+06
35   1920        Denmark        -17.723417  3.242000e+06          1.087008e+07
36   1930        Denmark        -16.741108  3.542000e+06          1.478231e+07
37   1940        Denmark        -17.329067  3.832000e+06          1.766887e+07
38   1950        Denmark        -17.692283  4.271000e+06          2.466978e+07
39   1960        Denmark        -17.709950  4.581000e+06          4.381696e+07
40   1970        Denmark        -18.206133  4.928757e+06          5.946437e+07
41   1980        Denmark        -18.089608  5.123027e+06          5.480629e+07
42   1990        Denmark        -17.777908  5.140954e+06          6.230209e+07
43   2000        Denmark        -16.507792  5.337416e+06          5.469473e+07
44   1900          India         23.877975  2.845000e+08          1.785861e+07
45   1910          India         23.774050  3.021000e+08          3.245209e+07
46   1920          India         23.945842  3.056000e+08          3.922486e+07
47   1930          India         23.868242  3.364000e+08          4.200644e+07
48   1940          India         24.086283  3.868000e+08          5.223789e+07
49   1950          India         24.179567  3.590000e+08          7.842217e+07
50   1960          India         24.104092  4.340000e+08          1.472435e+08
51   1970          India         24.145417  5.410000e+08          2.281912e+08
52   1980          India         24.362283  6.790000e+08          3.962232e+08
53   1990          India         24.374717  8.390000e+08          7.524288e+08
54   2000          India         24.670750  1.004124e+09          1.205677e+09

In [13]:
# Push the remade DataFrame to a new CSV file
final_df.to_csv("../Output/Population_SurfaceTemps_CO2_By_Country.csv",
                  encoding="utf-8", index=False, header=True)